body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffc905;
}

.container {
  background-color: #ecf7d7;
  width: 50%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 15px;
  opacity: 0.98;
}

h2 {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif ;
  padding-top: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #1b1c18;
}

.row{
  margin : 20px auto 20px auto;
  padding-left: 50px;

}

input[type=text] {
  margin-left: 40px;
  width: 300px;  
  height: 30px;
  text-align: center;
}

input[type=date]{
  margin-left: 20px;
  width: 300px;
  text-align: center;
  height: 30px;
}

label{
  font-weight: bold;
}

.generate {
  width: 100px;
  height: 35px;
  margin-left: 10px;
  font-weight: bold;
}

.content {
  margin-left: 100px;
  margin-top: 60px;
}

input[type=submit]{
  margin-left: 450px;
  width: 100px;
  height: 30px;
  margin-top: 40px;
  border-radius: 10px;
  font-weight: bolder;
  
}

.submit:hover{
  background-color: #ffc905;
}

.submit{
  margin-left: 450px;
  width: 100px;
  height: 30px;
  margin-top: 40px;
  border-radius: 10px;
  font-weight: bolder;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
